@model QCircuit.Models.ViewModels.LoginViewModel
@{
  ViewBag.Title = "Log in";
}

@section scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>
<div>
  <div>
    <section id="loginForm">
      @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
      {
        @Html.AntiForgeryToken()
        <h4>Use a local account to log in.</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div>
          @Html.LabelFor(m => m.UserName)
          <div>
            @Html.TextBoxFor(m => m.UserName)
            @Html.ValidationMessageFor(m => m.UserName)
          </div>
        </div>
        <div>
          @Html.LabelFor(m => m.Password)
          <div>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
          </div>
        </div>
        <div>
          <div>
            <div>
              @Html.CheckBoxFor(m => m.RememberMe)
              @Html.LabelFor(m => m.RememberMe)
            </div>
          </div>
        </div>
        <div>
          <div>
            <input type="submit" value="Log in" />
          </div>
        </div>
        <p>
          @Html.ActionLink("Register", "Register") if you don't have a local account.
        </p>
      }
    </section>
  </div>
  <div>
    <section id="socialLoginForm">
      @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>
  </div>
</div>
