@using QCircuit.Models;
@using Microsoft.AspNet.Identity;
@{
  ViewBag.Title = "Manage Account";
}

@section scripts {
  @Scripts.Render("~/bundles/jqueryval")
}

<h2>@ViewBag.Title</h2>

<p>@ViewBag.StatusMessage</p>
<div >
  <div>
    @if (ViewBag.HasLocalPassword)
    {
      @Html.Partial("_ChangePasswordPartial")
    }
    else
    {
      @Html.Partial("_SetPasswordPartial")
    }

    <section id="externalLogins">
      @Html.Action("RemoveAccountList")
      @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
    </section>
  </div>
</div>
