@{
    Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Quantum Circuit Builder</title>

    @Styles.Render("~/Content/quantum")
  </head>
  <body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/mixins")
    @Scripts.Render("~/bundles/interaction")
    @Scripts.Render("~/bundles/quantum")
    <script>
      ; (function (window, Q) {

        'use strict';

        var workspace = new Q.Workspace();

        $('body').append(workspace.element);

      }(this, this.Quantum));
    </script>
  </body>
</html>
