@{
  ViewBag.Title = "Circuit Builder";
}

@section styles {
  @Styles.Render("~/Content/bugfix")
  @Styles.Render("~/Content/dialog")
  @Styles.Render("~/Content/quantum")
  <style>
    div.q-factoryShowroom-content {
      <!-- [if lte IE 9]>display: inline-block !important;<![endif] -->
      <!-- [if lte IE 9]>height: 100px !important;<![endif] -->
    }
  </style>
}

@section scripts {
  @Scripts.Render("~/bundles/common")
  @Scripts.Render("~/bundles/bugfix")
  @Scripts.Render("~/bundles/dialog")
  @Scripts.Render("~/bundles/mixins")
  @Scripts.Render("~/bundles/interaction")
  @Scripts.Render("~/bundles/utility")
  @Scripts.Render("~/bundles/quantum")
  <script>
    ; (function (window, Q, Bug, undefined) {

      'use strict';

      var workspace;

      Bug.Flex.fixFlexWidth();
      Bug.Flex.fixFlexWidthReset();

      workspace = Q.Workspace('#circuit');

    }(this, this.Quantum, this.Bugfix));
  </script>
}

<section id="circuit"></section>
