@{
  ViewBag.Title = "Circuit Builder";
}

@section styles {
  @Styles.Render("~/Content/quantum")
  <style>
    div.q-factoryShowroom-content {
      <!-- [if lte IE 9]>display: inline-block !important;<![endif] -->
      <!-- [if lte IE 9]>height: 100px !important;<![endif] -->
    }
  </style>
}

@section scripts {
  @Scripts.Render("~/bundles/bugfix")
  @Scripts.Render("~/bundles/mixins")
  @Scripts.Render("~/bundles/interaction")
  @Scripts.Render("~/bundles/quantum")
  <script>
    ; (function (window, Q) {

      'use strict';

      var workspace = new Q.Workspace('#circuit');

    }(this, this.Quantum));
  </script>
}

<section id="circuit"></section>
